@{
    ViewData["Title"] = "Success Message";
}
<h1>@ViewData["Success"]</h1>

<p>Appointment made successfully</p>
<p>To create a new appointment</p>
<a class="nav-link text-dark" asp-area="" asp-controller="Appointment" asp-action="Create">Create new appointment</a>