@{
    ViewData["Title"] = "Success Message";
}

<div class="row justify-content-md-center">
    <div class="col-md-4">
        <div class="card">
            <div class="notify-card-body text-center">
                <p class="notify-title">  Appointment made successfully</p>
                <a class="btn-notify-back btn-primary btn btn--radius-2 btn--blue" asp-area="" asp-controller="Appointment" asp-action="Create">Create new appointment</a>
                <a class="btn-notify-back btn-primary btn btn--radius-2 btn--blue mt-3" asp-area="" asp-controller="Appointment" asp-action="Index">View appointment</a>
            </div>  
                

        </div>
    </div>
</div>
